<!DOCTYPE html>
<html>
  <head>
    <% include templates/head.ejs %>
  </head>
  <body>
     <nav class="navbar navbar-default" id="menubar">
      <% include templates/menutitle.ejs %>
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-header">
          <a class="navbar-brand" href="/aboutorganization">About It</a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/<%= data.hrefone %>"><%= data.titleone %></a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/<%= data.hreftwo %>"><%= data.titletwo %></a>
        </div>
     </ul>
    </nav>
    <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
          <h1>Organization Form</h1>
          <form id="mainform">
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="name">Organization Name</label>
                  <input class="form-control" type="text" id="name" value="<%= data.name %>" maxlength="100" placeholder="Name" required>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="briefdesc">Brief Description</label>                    
                  <textarea class="form-control" id="briefdesc" value="<%= data.briefdesc %>" maxlength="200" placeholder="Brief description..."><%= data.briefdesc %></textarea>
                </div>
              </div>  
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="address">Address</label>                    
                  <input class="form-control" type="text" id="address" value="<%= data.address %>" maxlength="100" placeholder="Address (Street and number)" required>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="phone">Phone</label>                      
                  <input class="form-control" type="text" id="phone" value="<%= data.phone %>" maxlength="100" placeholder="Phone/Cellphone" required>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="email">Email</label>                    
                  <input class="form-control" type="email" id="email" value="<%= data.email %>" maxlength="100" placeholder="Email" required>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="website">Website Address</label>                    
                  <input class="form-control" type="text" id="website" value="<%= data.website %>" maxlength="100" placeholder="Website" required>
                </div>
              </div>  
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="state">State</label>
                  <select class="form-control" id="state" ></select>
                  <label for="statedata" style="color:#f00;">(Selected: <%= data.state %>)</label>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="city">City</label>   
                  <input class="form-control" type="text" id="city" value="<%= data.city %>" maxlength="100" placeholder="City" required>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="zone">Zone/Locality</label>
                  <input class="form-control" type="text" id="zone" value="<%= data.zone %>" maxlength="100" placeholder="Zone/Locality" required>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="category">Category</label>
                  <select class="form-control" id="category" ></select>
                  <label for="categorydata" style="color:#f00;">(Selected: <%= data.category %>)</label>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="type">Type</label>
                  <select class="form-control" id="type" >
                    <option value="Charity">Charity</option>
                  </select>
                  <label for="typedata" style="color:#f00;">(Selected: <%= data.type %>)</label>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="zone">User name</label>
                  <input class="form-control" type="text" id="username" maxlength="100" value="<%= data.username %>" placeholder="User name" required>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="zone">Password</label>
                  <input class="form-control" type="password" id="password" maxlength="100" placeholder="Password" required>
                </div>
              </div> 
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="zone">Confirm Password</label>
                  <input class="form-control" type="password" id="password2" maxlength="100" placeholder="Confirm Password" required>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="hint">Password Hint</label>
                  <input class="form-control" type="text" id="hint" maxlength="100" value="<%= data.hint %>" placeholder="(e.g.: John Doe's birthday)" required>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group row">
                  <label for="active">Active</label>
                  <select class="form-control" id="active">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <label for="statedata" style="color:#f00;">(Selected: <%= data.active %>)</label>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group row">
                  <input type="submit" class="btn btn-danger" id="btnSubmit" value="Save" />
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group row">
                  <p id="msg"></p>
                </div>
              </div>
              <% include templates/footer.ejs %> 
          </form> 
          <span id="inf" style="display:none;"><%= data.inf %></span>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <div id="loading" class="hide">
      <div id="loading-content">
        Loading...
      </div>
    </div> 
    <script src="javascripts/aj-organizationform.js"></script>             
  </body>
</html>